 body {
        font-family: Arial, sans-serif;
        margin: 50px;
        background-color: #f0f8ff;
    }
    h1 {
        color: #333;
        text-align: center;
    }
    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
    label {
        display: block;
        margin: 15px 0 5px;
    }
    input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    button {
        width: 100%;
        padding: 10px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    button:hover {
        background-color: #218838;
    }
    .result {
        text-align: center;
        margin-top: 20px;
        font-size: 18px;
        font-weight: bold;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }


    .inscription-block{
       display:flex;
        background-color: #000;
        align-items: end;
        justify-content: end;
    }
    .inscription-block > li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .inscription-block > li {
      background-color: #000;

    }
    .inscription-block > li:hover {
      background-color: #28a745;
    }